# Ignore specific folders
models/
negative_samples/
output/
processed_esc50/
recorded_samples/
TESTING/
sdk/

# Ignore specific files
run_api.bat
kws_model.tflite

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
venv/

# OS files
.DS_Store
